.employee-catalogue {
    margin-top: 1rem;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
}

.person {
    border: solid 2px grey;
    padding: 1rem;
    font-size: min(max(16px, 1vw), 12px);
    word-break: break-all;
}