/* containers */

.login-wrapper,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-wrapper {
    width: 40%;
    margin: 3rem 30% 0 30%;
    padding: 1rem 1rem;
    border: solid 2px grey;
    box-shadow: 5px 5px 10px rgb(189, 189, 189);
    background-color: hsl(55, 100%, 75%);
    font-size: min(max(8px, 2vw), 24px);
}


/* form */

input {
    background-color: white;
    border: 1px solid rgb(131, 119, 119);
    padding: 0.3rem;
    border-radius: 5px;
}

input:focus {
    background-color: rgb(247, 187, 76);
}

button {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: solid 1px grey;
    background-color: orange;
}

button:hover,
button:focus {
    box-shadow: 2px 2px 2px grey;
    background-color: rgb(228, 150, 5);
    cursor: pointer;
}

button:active {
    transform: scale(.90);
    box-shadow: 1px 1px 1px grey;
    background-color: rgb(131, 89, 11);
    color: papayawhip;
    font-weight: 600;
}

@media (max-width: 450px) {
    .login-wrapper {
        width: 60vw;
        margin: 1rem auto;
    }
}